################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReceiptManager/FileContentIndex/cd3670dc-fa6f-4b2b-8cf0-d3e100e966d1.vsidx
/.vs/ReceiptManager
/.vs/ReceiptManager/FileContentIndex/d2953798-1afe-4890-839e-dc69c87eec7d.vsidx

/bin